@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove default background color on autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
/* Remove default text color on autofill */
input:-webkit-autofill {
  -webkit-text-fill-color: #ffffff !important;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 100px;
  @apply bg-pink-400;
}
::-webkit-scrollbar-track {
  @apply bg-stone-700/30;
  border-radius: 100px;
  padding: 20rem;
}
